{% extends 'base.html' %}
{% block main %}
    {% load static %}
    <h1 class="mt-5">提取区域划分后的图片</h1><br>
    <p class="lead">现在你可以保存下面的图片了。你的提取码是<code>{{code}}</code>，自图片创建起的七天之内，你可以在此处再次下载。</p>
    <div>
        <div>
            <div class="card">
                <div class="card-body">
                    <img src="/media/out/{{ code }}/ccl.png "width="30%">
{#                    <img src="{{ MEDIA_URL }}{{ i.img_01 }}" width="100%">#}
                </div>
            </div>
        </div>
    </div><br>
    <a href="/pictures/download/{{ code }}/ccl.png">
        <button class="btn bg-danger">下载</button>
    </a>
{% endblock main %}

{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">主要操作</h3>
        <ul>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'pictures:upload' %}">创建<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pictures:extraction' 0%}">提取</a>
            </li>
        </ul>
    </div>
{% endblock toc %}



